* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.fs-size {
    font-size: small;
}

.fm-size {
    font-size: medium;
}

.fl-size {
    font-size: large;
}

.f1-weight {
    font-weight: 100;
}

.f2-weight {
    font-weight: 200;
}

.f3-weight {
    font-weight: 300;
}

.f4-weight {
    font-weight: 400;
}

.f5-weight {
    font-weight: 500;
}

.f6-weight {
    font-weight: 600;
}

.f7-weight {
    font-weight: 700;
}

.f8-weight {
    font-weight: 800;
}

.f9-weight {
    font-weight: 900;
}

/* font family */
.fs-primary {
    font-style: italic, normal;
}

.container {
    width: calc(100% - 376px);
    margin: auto;
}

@media screen and (max-width:991px) {
    .container {
        width: calc(100% - 200px);
    }

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    padding: 8px 13px;
    background-color: var(--primaryColor);
    border: 0;
    outline: 0;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}

.align-item-start {
    align-items: start;
}

.gap-1 {
    gap: 5px;
}

.gap-2 {
    gap: 10px;
}

.gap-3 {
    gap: 15px;
}

.gap-4 {
    gap: 20px;
}

.gap-5 {
    gap: 25px;
}

.border-0 {
    border: 0;
}

.outline-0 {
    outline: 0;
}

.text-white {
    color: #fff;
}

.pt-1 {
    padding-top: 5px;
}

.pt-2 {
    padding-top: 10px;
}

.pt-3 {
    padding-top: 15px;
}

.pt-4 {
    padding-top: 20px;
}

.pt-5 {
    padding-top: 25px;
}

.pb-1 {
    padding-bottom: 5px;
}

.pb-2 {
    padding-bottom: 10px;
}

.pb-3 {
    padding-bottom: 15px;
}

.pb-4 {
    padding-bottom: 20px;
}

.pb-5 {
    padding-bottom: 25px;
}

.py-1 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-5 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.pr-1 {
    padding-right: 5px;
}

.pr-2 {
    padding-right: 10px;
}

.pr-3 {
    padding-right: 15px;
}

.pr-4 {
    padding-right: 20px;
}

.pr-5 {
    padding-right: 25px;
}

.pl-1 {
    padding-left: 5px;
}

.pl-2 {
    padding-left: 10px;
}

.pl-3 {
    padding-left: 15px;
}

.pl-4 {
    padding-left: 20px;
}

.pl-5 {
    padding-left: 25px;
}

.px-1 {
    padding-right: 5px;
    padding-left: 5px;
}

.px-2 {
    padding-right: 10px;
    padding-left: 10px;
}

.px-3 {
    padding-right: 15px;
    padding-left: 15px;
}

.px-4 {
    padding-right: 20px;
    padding-left: 20px;
}

.px-5 {
    padding-right: 25px;
    padding-left: 25px;
}

/* Margin Top */
.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.mt-4 {
    margin-top: 20px;
}

.mt-5 {
    margin-top: 25px;
}

/* Margin Bottom */
.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-3 {
    margin-bottom: 15px;
}

.mb-4 {
    margin-bottom: 20px;
}

.mb-5 {
    margin-bottom: 25px;
}

/* Margin Left */
.ml-1 {
    margin-left: 5px;
}

.ml-2 {
    margin-left: 10px;
}

.ml-3 {
    margin-left: 15px;
}

.ml-4 {
    margin-left: 20px;
}

.ml-5 {
    margin-left: 25px;
}

/* Margin Right */
.mr-1 {
    margin-right: 5px;
}

.mr-2 {
    margin-right: 10px;
}

.mr-3 {
    margin-right: 15px;
}

.mr-4 {
    margin-right: 20px;
}

.mr-5 {
    margin-right: 25px;
}

/* Margin Y (top + bottom) */
.my-1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-5 {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Margin X (left + right) */
.mx-1 {
    margin-left: 5px;
    margin-right: 5px;
}

.mx-2 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx-3 {
    margin-left: 15px;
    margin-right: 15px;
}

.mx-4 {
    margin-left: 20px;
    margin-right: 20px;
}

.mx-5 {
    margin-left: 25px;
    margin-right: 25px;
}

/* Full Margin */
.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 10px;
}

.m-3 {
    margin: 15px;
}

.m-4 {
    margin: 20px;
}

.m-5 {
    margin: 25px;
}

/* *{
    outline: 1px solid red;
} */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}